
<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="nombre">Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestias qui veniam iure libero eveniet corrupti laborum dolorum doloribus. Temporibus incidunt laborum ad in quos nesciunt earum repellendus obcaecati molestias.
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="nombre">Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestias qui veniam iure libero eveniet corrupti laborum dolorum doloribus. Temporibus incidunt laborum ad in quos nesciunt earum repellendus obcaecati molestias.
            </p>
        </ul>
        <ul>
            <li>
                <h1 class="nombre">Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos molestias qui veniam iure libero eveniet corrupti laborum dolorum doloribus. Temporibus incidunt laborum ad in quos nesciunt earum repellendus obcaecati molestias.
            </p>
        </ul>
    </div>
</div>

